body{
    display: flex;
    justify-content: center;

}
#maindiv{
    width: 80%;
    height: 500px;
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
img{
    width: 80%;
}
@media (max-width:600px) {
    body{
        display: flex;
        justify-content: center;
    }
    #maindiv{
        width: 80%;
        height: 500px;
        margin: 5px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
    img{
        width: 35%;
    }
}