*{
    margin: 0px;
    padding: 0px;
}
/* header */
#main_heading{
    text-align: center;
    padding: 0px 0px 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    color: wheat;
}
header{
    margin-right: -150px;
    margin-left: -150px;
    background-color: #023E8A;
}
#web_logo{
    width: 17%;
}
#web_logo1{
    width: 10%;
    display: inline-block;
    display: flex;
    justify-content: left;
    padding: 10px 0px 0px 10px;
}
#navigation{
    border-bottom: 1px solid #0077B6;
    border-top: 1px solid #0077B6;
    border-radius: 3px;
    padding: 10px 0px 10px 0px;
    font-size: large;
    background-color: #0096C7;
    text-align: center;
}
a{
    text-decoration: none;
    color: wheat;
}
a:hover{
    font-size: 35px;
    transition: 0.5s;
    color: black;
}
a:active{
    font-size: 35px;
    color: white;
}
a:hover{
    font-size: 35px;
    transition: 0.5s;
}
#a1{
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0px 5px 0px 5px;
}
#a2{
    border-right: 1px solid white;
    padding: 0px 5px 0px 5px;
}
#a3{
    border-right: 1px solid white;
    padding: 0px 5px 0px 5px;
}
#a4{
    border-right: 1px solid white;
    padding: 0px 5px 0px 5px;
}
#a5{
    border-right: 1px solid white;
    padding: 0px 5px 0px 5px;
}
/* body */
body{
    margin: 0px;
    padding-left: 150px;
    padding-right: 150px;
    pad: 10px;
}
/* main */
main{
    background-color: #E9ECEF;
}
h1{
    font-size: 300%;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 12%;
}
#img1{
    width: 80%;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 30px;
}
table{
    border:solid 1px; 
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.903);
    width: 1000px;
}
#tables{
    display: flex;
    flex-direction: column;
    align-items: center;
}
th{
    border: none 1px;
    padding:22px 16px;
}
td{
    border: none 1px; 
    padding:22px 16px;
}
thead{
    background-color: #BBBBBB;
}
tr:nth-child(2){
    background-color: #EEEEEE;
}
tr:nth-child(4){
    background-color: #EEEEEE;
}
/* footer */
footer{
    background-color: #0077B6;
    margin-right: -150px;
    margin-left: -150px;
}

#WC_sticker1{
    width: 17%;
    padding: 5px 0px 0px 5px;
}
#WC_sticker{
    display: flex;
    display: inline-block;
}
.footer_p{
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer_h2{
    text-align: left;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px 0px 0px 5px;
}
#creators{
    text-align: left;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}